<div class="container container-width">
  <p>{{courseTitle}}#1</p>
  <div class="d-flex">
  <div class="course-item-content1 d-flex">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at, cum dicta dignissimos eius enim excepturi
    iusto minima, modi necessitatibus non numquam obcaecati omnis perspiciatis porro quis quisquam tenetur.
    Magnam?
  </div>
  <div class="course-item-content2">
    <button class="btn btn-info btn-edit ">Edit</button>
    <button class="btn btn-warning btn-delete">Delete</button>
  </div>
  </div>
</div>



