.header-container {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  align-items: center;
}

.header-button-group {
  margin: 1em;
}

.header-logo {
  margin: 1em;
}


